@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
.col1 {
    width: 65%;
}
.col2 {
    width: 15%;
}
.col3 {
    width: 20%;
    text-align: right;
}
td:nth-child(3) {
    text-align: right;
}
.panel-heading {
    font-size: 24px;
    padding-left: 5px;
}

i {
    margin-left: -22px;
    margin-right: 10px;
    color: black;
    opacity: 0.5;
}

.fa-link {
    opacity: 0.3;
}

.table>tbody>tr.info>td {
    /*background-color: #a0d2e6;*/
}

.table>tbody>tr.success>td {
    /*background-color: #70c16f;*/
}

.glyphicon {
    opacity: 0.4;
}

pre {
    font-family: "Source Code Pro",sans !important;
    border: 0 none white !important;
    background-color: transparent !important;
    padding: 0px !important;
    word-break: break-word;
    white-space: nowrap !important;
    margin-bottom: 0;
}

pre code {
    word-break: break-word;


    /*padding: 0 !important;*/
}

.tab-content {
    border: 1px solid #ecf0f1;
    border-top: 0 none white;
    padding: 20px;
}

.hljs-operator:first-child {
    margin-left: -100px;
}

code.hljs {
    margin-top: -4%;
}

hr {
    margin-top: 38px;
    margin-bottom: 0;
}

.table {
    margin-bottom: 0;
}

.nav>li {
    /*background-color: #f6f9f9;*/
}